:root {
    --gradiente1: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    --gradiente2: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  }

body{
    font-family: 'Open Sans', sans-serif;
}

.pad-arriba{
    padding-top: 5rem !important;
}
/*nav*/
.fondo-gradiente{
    background-image: var(--gradiente1);
}
.tipografia2{
    font-family: 'Courgette', cursive;
}
/*header*/
.principal{
    padding: 10rem;
    text-align: center;
}
header{
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 10rem 0;
}


 /*sobre mi*/
 .colortipo1{
     color: #6a11cb !important;
 }

 /*Experiencia y capacitacion*/

 .listado li{
     list-style: none;
     margin-left: -2.5rem;
 }
 
 /*trabajos*/
 .gradiente2{
     background-image: var(--gradiente2);
 }
.oscurecer{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    }

.oscurecer:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    cursor: pointer;
    }


